<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{establishment.name}}</ion-title>    
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-row>
    <ion-col size="12" size-lg="4"  size-xs="12">
      <img [src]="establishment.image" alt="" >
    </ion-col>
    <ion-col size="12" size-lg="8"  size-xs="12">
      <p style="text-align: justify;">
        {{establishment.description}}
      </p>
      <p>
        <strong>Dirección: </strong><ion-text color="dark">{{establishment.direction}}</ion-text> <br><br>
        <strong>Horario: </strong> <ion-text color="dark">{{establishment.schedule}}</ion-text>
      </p>
      <br>
      <ion-toolbar>
        <ion-button  expand="block" fill="clear" color="warning" slot="end" shape="round" (click)="mostrarDetalle( establishment.id )">
          Agregar comentario
        </ion-button>
      </ion-toolbar>
    </ion-col>
  </ion-row>
  <ion-row>
  <ion-col size="12" size-lg="8"  size-xs="12"> 
    <div *ngIf="mostrarProductos" class="commentary-list">
      <ion-toolbar *ngIf="activateCommentary" style="font-size: 25px; " color="dark">
        <strong slot="start" class="ion-padding-start ion-padding-end">Productos</strong>
          <ion-icon slot="end" *ngIf="!actProduct" name="add-circle-sharp"  (click)="activateProduct()"  color="light" class="ion-padding-start ion-padding-end"></ion-icon>
          <ion-icon  slot="end" *ngIf="actProduct" name="remove-circle-sharp" (click)="activateProduct()" color="light" class="ion-padding-start ion-padding-end"></ion-icon>
      </ion-toolbar>
    </div>
  <ion-row *ngIf="actProduct">
    <ion-col 
              size="12" size-lg="4"  size-xs="12" 
              *ngFor="let producto of productos" class="commentary-list">
      <ion-card class="item" (click)="mostrarProducto( producto.id )"  >
        
        <img [src]="'http://127.0.0.1:8000' + producto.image" alt="" class="image">
        <ion-card-header>
          <ion-card-title><h3 style="color:black; font-style: normal;">{{ producto.name }}</h3></ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p >
            <!--<strong style="color:black; font-style: normal;">Descripción: </strong><ion-text color="dark" >{{producto.description}}</ion-text> <br><br>-->
            <strong style="color:black; font-style: normal;">Precio: $</strong> <ion-text color="dark">{{producto.precio}}</ion-text>
          </p>
        </ion-card-content>
        
      </ion-card>
    </ion-col>
  </ion-row>
</ion-col>
  <ion-col size="12" size-lg="4"  size-xs="12" class="commentary-list" >
  <div *ngIf="mostrarComentarios" class="commentary-list">
    <ion-toolbar *ngIf="activateCommentary" style="font-size: 25px; " color="dark">
      <strong slot="start" class="ion-padding-start ion-padding-end">Comentarios</strong>
        <ion-icon slot="end" *ngIf="!actCommentary" name="add-circle-sharp"  (click)="activateCommentary()"  color="light" class="ion-padding-start ion-padding-end"></ion-icon>
        <ion-icon  slot="end" *ngIf="actCommentary" name="remove-circle-sharp" (click)="activateCommentary()" color="light" class="ion-padding-start ion-padding-end"></ion-icon>
    </ion-toolbar>
  </div>
<div *ngIf="actCommentary" class="commentary-list">
  <ion-list *ngFor="let comentario of comentarios" inset="true"  class="commentary-list">
    <app-commentary [commentary]="comentario"></app-commentary>
  </ion-list>
</div>
</ion-col>
</ion-row>
<br>
</ion-content>
