<ion-tabs>
  <ion-tab-bar  slot="bottom">
    <ion-tab-button tab="gallery" >
      <ion-icon color="danger" name="star-half-outline"></ion-icon>
      <ion-label color="danger">Promociones</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="home" color="danger">
      <ion-icon color="danger" name="restaurant-outline"></ion-icon>
      <ion-label color="danger">Establecimientos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="productos" >
      <ion-icon color="danger" name="fast-food-outline"></ion-icon>
      <ion-label color="danger">Comida</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>