<ion-header >
  <ion-toolbar class="new-background-color" style="color: white;">
    <img src="/assets/icon.png" slot="start" alt="" style="width: 80px;" >
      <ion-searchbar  type="tel" mode="md"  placeholder="Buscar..." 
              animete
              (ionChange)="buscar($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content >
  <br>
<center>
  <ion-chip color="danger">
    <ion-icon name="restaurant-outline"></ion-icon>
    <ion-label>Establecimientos</ion-label>
  </ion-chip>
</center>
  <!--Establishments -->
  <app-establishments [establishments]="establishment | filtro: textoBuscar"> </app-establishments>
  <!-- Infinite Scroll -->
  
</ion-content>
