<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title><strong>Reservaciones</strong></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  
  <ion-list>
    <ion-list-header>
      <ion-label>
        <strong><h1>Reservaciones realizadas</h1></strong>
      </ion-label>
    </ion-list-header>
    <ion-item  (click)="mostrarDetalle()">
      <ion-label>Reservacion</ion-label>
      <strong>Fecha: </strong><p>10/06/2020</p>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
    
  </ion-list>
</ion-content>
