<ion-header >
  <ion-toolbar class="new-background-color" style="color: white;">
      <ion-icon style="font-size: 25px; " class="ion-padding-start" (click)="mostrarProducto()" slot="start" name="arrow-back-outline"></ion-icon>

    <ion-title>{{producto.name}}</ion-title>    
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row>
    <ion-col size="12" size-lg="4"  size-xs="12">
      <img [src]="producto.image" alt="" >
    </ion-col>
    <ion-col size="12" size-lg="8"  size-xs="12">
      <center>
        <p>
          {{producto.description}}
        </p>
        <p>
          <strong>Precio</strong><br><ion-text color="dark">${{producto.precio}}.00</ion-text> <br><br>
          <strong>Establecimiento</strong><br> <ion-text color="dark">{{establishment.name}}</ion-text>
        </p>
      </center>
    </ion-col>
    
  </ion-row>
</ion-content>
