.close-fake{
    --background: transparent  ;
    ion-icon{
        font-size: 2rem;
    }
    margin-top: 40px;

}
ion-content{
    --background: rgba(44, 39, 45, 0.84);
}
img{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    
}
p{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;  
}